
<ion-view class="background" cache-view="false">
    <!--<div ng-include="'sidenav/sidenav.html'"></div>-->
   
   
    <ion-header-bar align-title="left" class="headercolor">
        
  <div class="buttons headerleft">
      <i class="mdate"> 2015-02-16</i>
      <i class="mreport"> {{report_no}}PCF  Report</i>
  </div>
  <h1 class="title"></h1>
  <div class="buttons headerright1">
      
      <i  class="icon ion-chevron-left bleft" ng-click="previous(date)" md-ink-ripple=""> <div class="md-ripple-container" style=""></div></i>
      <i class="icon ion-chevron-right bright" ng-click="next(date)" md-ink-ripple=""><div class="md-ripple-container" style=""></div></i>
<!--      <i class="search icon ion-android-search" md-ink-ripple="" ng-click="search()"><div class="md-ripple-container" style=""></div></i>
      <i class="icon ion-android-sync refresh" md-ink-ripple=""><div class="md-ripple-container" style=""></div></i>-->
<!--     <i class="icon ion-android-more-vertical option"  md-ink-ripple=""><div class="md-ripple-container" style=""></div></i>-->
<!--      <div class="dropdown">
        <a md-ink-ripple="" data-toggle="dropdown" aria-expanded="true">
          <i class="icon ion-android-more-vertical option i-24"></i>
        <div class="md-ripple-container"></div></a>
        <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up text-color">
          <li><a href="">Single-column view</a></li>
          <li><a href="">Sort by date</a></li>
          <li><a href="">Sort by name</a></li>
         
        </ul>
      </div>-->
   
  </div>
  
</ion-header-bar>
    <ion-content>
        <div class="myview2" style="margin:0 auto" ng-repeat="da in data track by $index" >
         <div  class="p-lg panel md-whiteframe-z1 text-color  mybox" ng-repeat="da1 in da track by $index" ng-click="Move(da1.manifest_no,da1.main_data)">
               <div class="m-b text-sm subview" ng-style="{{da1.style}}">
                   <div class="shiping">Shipping-Line:<i class="space" >{{da1.shipping_line}}</i></div>
       <div class="agent">AGENT: {{da1.agent}}</div>
      </div>
      
        <div class="text-color m">
             
             <div class="middlediv">
                 <div class="data">M/V:<i class="space">{{da1.main_data}}</i><br>
                     <i style="font-size:15px !important;font-weight:100 !important">Manifest Number(Type):<i class="space" >{{da1.manifest_no}}({{da1.manifest_type}})</i></i>
                     
             
             </div>
                 <div class="ETA">ETA:{{da1.ETA}}</div>
                  <div style="clear:both"></div>
             </div>
            <div class="bottomdiv">
                <div class="base">Base:<i style="font-weight:600;padding-left:5px;">{{da1.base}}</i></div>
                <div class="report">Report Status:<i style="font-weight:600;padding-left:5px;" >{{da1.report_status}}</i></div>
             <div style="clear:both"></div>
            </div>

  </div>
    
           
         </div>
        </div>
       
    </ion-content>
  
</ion-view>



