<ion-view>
        
   <ion-header-bar align-title="left" class="headercolor">
  <div class="buttons headerleft">
      S/N 904878b177936aaa
  </div>
  <h1 class="title"></h1>
  <div class="buttons headerright" md-ink-ripple="">
    DB Maintenance<i class="icon ion-android-arrow-dropdown myicon"></i><div class="md-ripple-container" style=""></div>
  </div>
  
</ion-header-bar>
<!--      <div class="navbar  md-whiteframe-z0 no-radius indgo">
        <ul class="nav scroll-y" ui-nav>
          <li class="active">
            <a href>
              <span class="pull-right label bg-info">6</span>
              Pages
            </a>
          </li>
         
        </ul>
      </div>-->
 
    <ion-content>

  

  <div class="center-block w-xxl w-auto-xs p-v-md">
    <div class="navbar">
      <div class="navbar-brand m-t-lg text-center">
       
      </div>
    </div>

    <div class="p-lg panel md-whiteframe-z1 text-color m mybox">
      <div class="m-b text-sm mysignin">
        Sign in 
      </div>
        
        <div class="logo ">
            <img  src="img/logo-nuovo.png" alt=""/>
          </div>
        <div class="text-color m">
           

 <form name="form">
            <ui-select ng-model="person.selected" theme="bootstrap" >
              <ui-select-match placeholder="Select User" >{{$select.selected.user_name}}</ui-select-match>
              <ui-select-choices repeat="item in people | filter: $select.search">
                <div ng-bind-html="item.user_name | highlight: $select.search"></div>
                <!--<small ng-bind-html="item.email | highlight: $select.search"></small>-->
              </ui-select-choices>
            </ui-select>

     
       
<!--        <div class="md-form-group float-label">
          <input type="text" class="md-input" ng-model="user.username" required>
          <label>Select a user</label>
        </div>-->
          
        <div class="md-form-group float-label mypass">
          <input type="password" class="md-input" ng-model="user.password" required>
          <label>Password</label>
        </div>      

<button class="md-btn md-raised  btn-block p-h-md btn-fw indigo" ng-click="submit()" md-ink-ripple="">Sign in<div class="md-ripple-container" style=""></div></button>
        <!--<button md-ink-ripple type="submit" class="md-btn md-raised indigo btn-block p-h-md" ng-click="submit()">Sign in</button>-->
      </form>
        </div>
    </div>

  </div>



    </ion-content>

</ion-view>
<!--<div class="footer1" >
   <div class="leftfooter">
       S/N 904878b177936aaa
   </div>
    <div class="rightfooter">
        DB Maintenance<i class="icon ion-android-arrow-dropup myicon"></i>
    </div>
</div>
 <div class="footer2" ></div>-->
