<ion-view>
            
   <ion-header-bar align-title="left" class="headercolor">
  <div class="buttons headerleft">
      <i class="mdate"> 2015-02-16</i>
      <i class="mreport"> 3PCF  Report</i>
  </div>
  <h1 class="title"></h1>
  <div class="buttons headerright1">
      
      <i ui-sref="login" class="icon ion-chevron-left bleft" md-ink-ripple=""> <div class="md-ripple-container" style=""></div></i>
      <i class="icon ion-chevron-right bright" md-ink-ripple=""><div class="md-ripple-container" style=""></div></i>
      <i class="search" md-ink-ripple="">Search<div class="md-ripple-container" style=""></div></i>
      <i class="icon ion-android-sync refresh" md-ink-ripple=""><div class="md-ripple-container" style=""></div></i>
<!--     <i class="icon ion-android-more-vertical option"  md-ink-ripple=""><div class="md-ripple-container" style=""></div></i>-->
      <div class="dropdown">
        <a md-ink-ripple="" data-toggle="dropdown" aria-expanded="true">
          <i class="icon ion-android-more-vertical option i-24"></i>
        <div class="md-ripple-container"></div></a>
        <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up text-color">
          <li><a href="">Single-column view</a></li>
          <li><a href="">Sort by date</a></li>
          <li><a href="">Sort by name</a></li>
         
        </ul>
      </div>
   
  </div>
  
</ion-header-bar>
    <ion-content>
        <div class="myview2" style="margin:0 auto" ng-repeat="da in data track by $index">
         <div  class="p-lg panel md-whiteframe-z1 text-color m mybox" ng-repeat="da1 in da track by $index">
               <div class="m-b text-sm subview" ng-style="{{da1.style}}">
       <div class="shiping">Shipping-Line:{{da1.Shippingline}}</div>
       <div class="agent">AGENT: {{da1.AGENT}}</div>
      </div>
      
        <div class="text-color m">
             
             <div class="middlediv">
                 <div class="data">{{da1.main_data}}<br>
                  <i style="font-size:13px !important;font-weight:100 !important">   hey i am there </i>
                     
             
             </div>
                 <div class="ETA">ETA:{{da1.EAT}}</div>
                  <div style="clear:both"></div>
             </div>
            <div class="bottomdiv">
                <div class="base">Base:<i style="font-weight:600">{{da1.base}}</i></div>
                <div class="report">Report Status:<i style="font-weight:600">{{da1.reportstatus}}</i></div>
             <div style="clear:both"></div>
            </div>

  </div>
    
           
         </div>
       
       
    </ion-content>
  
</ion-view>

