<ion-view>
    <!--<div ng-include="'sidenav/sidenav.html'"></div>-->
     <ion-header-bar align-title="left" class="headercolor">

        <div class="buttons headerleft">
            <i  class="icon ion-chevron-left bleft page3" ng-click="goback()" md-ink-ripple=""> <div class="md-ripple-container" style=""></div></i>
            <i class="mreport page3">M/V:<i class="space page3">SHAFMARINE SAHARA</i></i>
        </div>
        <h1 class="title"></h1>
        <div class="buttons headerright1">
            <i class="manifest">Manifest Number:<i class="space page2 ">MF15000334</i></i>
        </div>
    </ion-header-bar>
    <ion-content>
    
        <div class="myview2" style="margin:0 auto"  >
         <div  class="p-lg panel md-whiteframe-z1 text-color m mybox" ng-repeat='da in data.display_data track by $index' >
              <div class=" backcolor .xn2">
                
            
                  <div class="topd2 xn">
                      <div class='date12'>
                          <i class="fpart"><b>Date</b></i>
                      </div>
                      <div class='day12'>
                          <i class="fpart"><b>Day</b></i>
                      </div>
                      <div class='starttime12'>
                          <i class="fpart"><b>Start Time</b></i>
                      </div>
                      <div class='endtime12'>
                          <i class="fpart"><b>End Time</b></i>
                      </div>
                      <div class='nogangs12'>
                          <i class="fpart"><b>No of Gangs</b></i>
                      </div>
                     <div style="clear:both"></div>
                      </div>
                 <!--<div class="line1234"></div>-->
                  <div style="clear:both"></div>
             </div>
             
             <div class="backcolor1">
                  <div class="topd2 xn1">
                      <div class='date12'>
                          <i class="fpart">{{da.date}}</i>
                      </div>
                      <div class='day12'>
                          <i class="fpart">{{da.day}}</i>
                      </div>
                      <div class='starttime12'>
                          <i class="fpart">{{da.start_time}}</i>
                      </div>
                      <div class='endtime12'>
                          <i class="fpart">{{da.end_time}}</i>
                      </div>
                      <div class='nogangs12'>
                          <i class="fpart">{{da.no_of_gangs}}</i>
                      </div>
                     <div style="clear:both"></div>
                      </div>
                     
                      </div>
                  <div style="clear:both"></div>
          
             <div class="backcol">
                  <div class="topd2">
                      <div class='mv'>
                          <i class="fpart"><b>Description</b>:</i><i class="space"> {{da.description}}</i>
                      </div>
                     
                      </div>
                  <div style="clear:both"></div>
             </div>
            <div class="backcol">
                  <div class="topd2">
          
         <div class="bottom1"><b>Equipment:</b><i class="space mybtm">{{da.equipment}}</i></div>
         <div class="bottom2"><b>Hatches:</b><i class="space mybtm">{{da.hatches}}</i></div>
             <div style="clear:both"></div>
            </div>
             
           </div>
                  <div style="clear:both"></div>
             </div>
 
         </div>
          
    </ion-content>
</ion-view>